.codehilite {
    display: none
}

img {
    display: block;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.md-typeset__table {
    min-width: 100%;
 }

 /* unordered list */
 .md-content ul li {
    list-style-type:  circle;
  }
  
  .md-content ul li li {
    list-style-type:  square;
  }